<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    
    <!-- Activate Annotation -->
    <context:annotation-config/>
    
        <!-- define the dependency -->
 	<bean id="cara" class="com.learncode.demospring.CarA" depends-on="welcome" >
 		<constructor-arg value="A"/>	
 		<property name="cost" value="5L"/> <!-- This property is mandatory, if you don't set this property then it will throw an exception -->
 		<property name="modelNumber" value="0132"/> <!-- This property is optional, if you don't set any value to this property then it will take default value -->
 	</bean>
 	
 <bean id="welcome" class="com.learncode.demospring.Welcome">
 </bean>

</beans>





