<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    
    <!-- define the dependency -->
    
 	<bean id="cara" class="com.learncode.demospring.CarA" depends-on="welcome" >
 		<property name="cost" value="5L"/>
 		<constructor-arg value="0132" type="int"/>	 <!-- Using attribute tag <constructor-arg value="0132" index="1"/> -->
 		<constructor-arg value="A"/>		         <!-- Using attribute tag <constructor-arg value="A" index="0"/> -->
 	</bean>
 	
 <bean id="welcome" class="com.learncode.demospring.Welcome">
 </bean>

</beans>





